@using MVCWebAppFromScratch.Models
@model MVCWebAppFromScratch.Models.Employee
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @ListHelper(Model)
   @using (Html.BeginForm("myform"))
   {
       @Html.TextBoxFor(x => x.Name)
       @Html.TextBoxFor(x => x.Address)
       <input type="submit" value="Save Data"/>
   }

</body>
</html>
@helper ListHelper(Employee emp)
{
    <div>
        @emp.Address
    </div>
}